body {
    background-color: slategray;
    margin: 3vh 3vw 3vh 3vw;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#preview {
    background-color: white;
}

#link {
    text-align: center;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}